@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1765009965131') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\f012b";
}

.icon-qingchu:before {
  content: "\e747";
}

.icon-jianzhucailiao:before {
  content: "\e62c";
}

.icon-shangchang:before {
  content: "\e6df";
}

.icon-gouwugouwuchedinggou:before {
  content: "\e682";
}

.icon-xuexiao:before {
  content: "\e644";
}

.icon-yiyuan:before {
  content: "\e65a";
}

.icon-xuexiao1:before {
  content: "\e606";
}

.icon-shangchangtubiao-:before {
  content: "\e628";
}

.icon-shangchangtubiao-1:before {
  content: "\e629";
}

.icon-shangchangtubiao-2:before {
  content: "\e62d";
}

.icon-huwaixiuxi:before {
  content: "\e61e";
}

.icon-shizhongxin:before {
  content: "\e69b";
}

.icon-yiyuan1:before {
  content: "\e605";
}

.icon-jianzhu:before {
  content: "\e748";
}

.icon-jiaoyu-:before {
  content: "\e8c6";
}

.icon-tuichu:before {
  content: "\e6bc";
}

.icon-kouqiangyiyuan:before {
  content: "\e676";
}

.icon-xuexiao_banji:before {
  content: "\e661";
}

.icon-xuexiao_kemu:before {
  content: "\e615";
}

.icon-huizhi:before {
  content: "\e657";
}

.icon-gongyuandamen:before {
  content: "\e7a1";
}

.icon-xuexiao2:before {
  content: "\e659";
}

.icon-jianzhu1:before {
  content: "\e65b";
}

.icon-jingjijiuhuzhan:before {
  content: "\e6a9";
}

.icon-zuobiao:before {
  content: "\e627";
}

.icon-gouwu:before {
  content: "\e65e";
}

.icon-zuobiao1:before {
  content: "\e608";
}

.icon-gongyuanguanli-gongyuanguanli:before {
  content: "\e620";
}

.icon-yiliao_jiuhuche:before {
  content: "\e63d";
}

.icon-biaoqian_gongyuan:before {
  content: "\e603";
}

.icon-a-065_gongyuan:before {
  content: "\e74f";
}

.icon-hospital-line:before {
  content: "\e755";
}

.icon-jianzhu_weilaijianzhu_future-build-three:before {
  content: "\e8a1";
}

.icon-jianzhu2:before {
  content: "\e61f";
}

